@tailwind base;
@tailwind components;
@tailwind utilities;

@better-font {
  font-family: 'Better';
  src: url('/fonts/Better.otf') format('opentype');
  /* Additional font properties as needed */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* LoginForm.jsx */
/* LoginForm.jsx */

.select-input {
  appearance: none; /* Remove default arrow */
  /* Other styles */
  height: 2.5rem; /* Adjust the height value as needed */
}

.dateofbirth-input {
  /* Other styles */
  height: 2.5rem; /* Adjust the height value as needed */
}

/* Yeeter logo */
.custom-yeeter-logo {
  font-family: 'Better', sans-serif;
  font-size: 4.5rem /* 60px */;
  line-height: 1;
}

/* Yeeter Login Left Image */

.custom-login-image {
  max-width: 225px;
}
